body{
    background:#eef5ff;
    font-family:sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:40px;
    border-radius:20px;
    width:350px;
    box-shadow:0 0 20px rgba(0,0,0,.1);
}

h1{
    text-align:center;
}

.subtitle{
    text-align:center;
    color:gray;
}

.question{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin:20px 0;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
}
#result{
    margin-top:20px;
    font-weight:bold;
    text-align:center;
}

.camera-area{
    margin:20px auto;
    text-align:center;
}

#webcam{
    width:320px;
    height:240px;
    background:black;
    border-radius:20px;
    display:block;
    margin:0 auto;
}
